<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>create shopping List App</title>
 
 
   <link rel="stylesheet" href="static/style.css">
 
</head>
<div id ="main">
<div id ="background">
         <div id ="header">
            <h3 >Python shopping list  App</h3>
        </div>
 
<body id="body" >
 
          <div id="navmenu"> 
            <div id="content">
                <ul >
          <h2>
          <a href="{{url_for('main')}}" ><input type="button" name="home" id="home" value="Home"></a>
          <a href="{{url_for('showviewlist')}}" ><input type="button" name="signin" id="shoppings"  value="View shoppings"></a>
              
              </h2>
              </ul>
              </div>
            </div>


    
     <div id="welcome">
            <h3>Welcome to your shopping List App, keep track of what you want to spend money on</h3>
          </div>

            <div class="submit" >
            <form>
            <h3><label>Create an Account</label>
           <a  href="{{url_for('showSignUp')}}"><input type="button"  id="signup" name="signup" value="SignupHere"></a>
            <br>
            <h3><label>Already have an account?</label>
            <a  href="{{url_for('showlogin')}}"><input type="button" id="login" name="login" href="login.html" value="LOGIN"></a>
            </form>
   
    
            </div>
            <div style="clear:both"></div>
           
       
               
            </div>
 
        </div>
 
        <footer class="footer">
            <p>&copy; Hadijah 2017</p>
        </footer>
 
    
    
</body>
 </div>
    </div>
</html>