



<form id="form1" class="" method="get">

<div class="row">
	<div class="col-xs-12">
		<div class="box">

			<div class="box-header">
	
			</div>
			<div class="box-content">

				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
                                                <tr>
<div>
					<div class="col-sm-3">
      <input type="text" name="searchitem" placeholder="check for item "/>&nbsp;
 					</div>
					<div class="col-sm-9">

</div>                                       
                                                </tr>
						<td><tr>
							<th>Add Item,</th>&nbsp;&nbsp;
							                  <th>quantity and </th>&nbsp;&nbsp;
							                                             <th>price</th>

						</tr></td>
					</thead>
					<tbody>
					
						

		                        </tbody>
	                       </table>
               		</div>    
	     
		</form>

<form id="form2" class="" method="post">

					<div class="col-sm-3">
      <input type="text" name="itemname" placeholder="item to include... "/>&nbsp;
      <input type="text" name="quantity" placeholder="quantity"/>&nbsp;
      <input type="text" name="price" placeholder="price per unit"/>&nbsp;
      <input type="hidden" name="list_id" value="{{ list_id }}">
 					</div>
 					<br>
					<button type="submit" value="submit" class="btn btn-primary">Add new Item</button>
					<br>
<tr>
							
							<td> &nbsp;&nbsp; <a href="#">Update Items</a></td>
							<td> &nbsp;&nbsp;<a href="#">Delete Item</a></td>
						</tr>
 						
</form>

