<html>
<head>

<link rel="stylesheet"  href="static/style.css">
<style>
label{display:inline-block;width:100px;margin-bottom:10px;}

</style>
 
 
<title>ALREADY HAVE AN ACCOUNT</title>
</head>
<div id="main">
<div id="background">

      <div id="header">
	  <h1> LOGIN<span></span></h1>
	  </div>
	  </div>
	  
<body>
<form method="post" action="">

<label>Email</label>
<input type="text" name="email"  required=""/>
<br />
<label>Pass word</label>
<input type="password" name="password" required="" />
<br />
<label>Submit</label>
<input class="button" name="login" id="login" tabindex="5" value="LOGIN!" type="submit"> 
</form>
</div>
</body>
</html>