<html>
<head>

<link rel="stylesheet"  href="static/style.css">
<style>
label{display:inline-block;width:100px;margin-bottom:10px;}

</style>
 
 
<title>New shopper</title>
</head>
<div id="main">
<div id="background">

      <div id="header">
	  <h1> CREATE AN ACCOUNT<span></span></h1>
	  </div>
	  </div>
	  
<body>
<form method="POST" action="">
<label>First Name</label>
<input type="text" name="firstname_field" placeholder=" Enter First name" required="" />
<br />
<label>Last Name</label>
<input type="text" name="lastname_field" placeholder="lastName" required="" />
<br />
<label>Email</label>
<input type="text" name="email_field"  required=""/>
<br />
<label>Pass word</label>
<input type="password" name="password_field" required="" />
<br />
<label>Submit</label>
<input class="button" name="signup" id="signup" tabindex="5" value="SIGNUP!" type="submit"> 
</form>
</div>
</body>
</html>